{% extends "base.html" %}

{% block title %}Image Drive{% endblock %}

{% block head %}
{% load staticfiles %}
<link href="{% static 'custom.css' %}" rel="stylesheet">
{% endblock %}

{% block header %}
<form action="/" method="post" class="navbar-form navbar-right">
    {% csrf_token %}
    <div class="form-group">
        {% block invalid_login %}
        {% endblock %}
        <input type="text" name="username" value="" id="username" placeholder="Email address" class="form-control"
               required autofocus>
        <input type="password" name="password" value="" id="password" placeholder="Password" class="form-control"
               required>

    </div>
    <input type="submit" value="Login" class="btn btn-success" name="Login"/>
</form>


{% endblock %}

{% block topcontent %}


<div class="col-md-6">
    <h1 class="cover-heading ">Save your images forever</h1>

    <p class="lead">Image Drive is private image hosting and gallery service.</p>
</div>
<div class="col-md-6">
    <form class="form-signin" action="/" method="post">
        {% csrf_token %}
        <h2 class="form-signin-heading">Sign up, its easy!</h2>
        {% if form.errors %}
        <div class="alert alert-warning" role="alert">
            Please check:
            {% for error in form.errors %}
                {{error}},
            {% endfor %}
        </div>
        {% endif %}
        {% block register_success %}
        {% endblock %}
        <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
        <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required>
        <input name="password1" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <input name="password2" type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm password"
               required>
        <button class="btn btn-lg btn-primary btn-block" type="submit" name="Signup">Sign up</button>
    </form>
</div>
{% endblock %}